body {
    background-color: #d5c7bc;
}
h1 {
    text-align: center;
    color: #8c001a;
}

h2 {
    text-align: center;
    color: #175676;
    padding-top: 100px;
}

h3 {
    text-align: center;
    color: #1b998b;
}

h4 {
    color: #8c001a;
}

p {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    color: #533b4d;
}
.back {
    text-align: center;
}
.name {
    font-size: 30px;
    font-style: italic;
    align-self: flex-start;
}
nav a {
    color: #db9d41;
}
.box {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}
.family {
    display: flex;
    flex-direction: row;
}
.image {
    height: 150px;
    width: 100px;
}
.list {
    justify-content: center;
}
.kitchen {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #bcbed5;
    margin: 0 30px 0 30px;
}
.presents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #bcbed5;
    padding-bottom: 50px;
}
.decoration {
    display: flex;
    flex-direction: column;
    background-color: #bcbed5;
    margin: 0 30px 0 30px;

}